* {
    margin: 0;
    padding: 0;
}
.bor{
    border: 2px solid rgb(227, 225, 225);
}
.row9 {
    height: 10vh;
}

.row10 {
    height: 12vh;
    background: rgb(255,255,255);
    background: linear-gradient(172deg, rgba(255,255,255,1) 0%, rgba(227,173,199,1) 99%);
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-img {
    height: 50px;
    width: 90px;
}

.row11 {
    height: 100vh;
    background: rgb(255,255,255);
    background: linear-gradient(172deg, rgba(255,255,255,1) 0%, rgba(227,173,199,1) 99%);
}

.row12 {
    height: 15vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

